<div class="jumbotron">
  <h1 class="display-4">Welcome to the Clothing Style App!</h1>
  <p class="lead">Discover the latest trends and shop for a variety of clothes.</p>
  <hr class="my-4" />
  <p>Start exploring now.</p>
  <a class="btn btn-primary btn-lg" href="/clothing" role="button">Shop Now</a>
</div>