<h1 id="ContactMe">Contact Me</h1><br>
<div class="container mt-3">
  <h2>Contact Me</h2>
  <form >
    <div>
      <label for="email">Fullname</label>
      <input type="text" class="form-control" id="fullname" placeholder="Enter your Fullname" name="text">
    </div>
     <div>
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email">
    </div><br>
    <label>Type Your message:</label>
    <textarea class="form-control" rows="5" id="comment" name="text"></textarea><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>