<!-- here starts the know ME parrt-->
<div class="container mt-3">
  <img src="/images/js-logo.png" alt="js-logo" class="logo"><br>
  <a href="#statement" class="btn btn-primary" data-bs-toggle="collapse">Skills</a>
  <div id="statement" class="collapse">
  I possess proficient skills in JavaScript, HTML, and CSS, making me well-versed in front-end web development. In JavaScript, 
  I am adept at crafting dynamic and interactive web applications, 
  utilizing features like DOM manipulation and asynchronous programming. My proficiency in HTML enables 
  me to create well-structured and semantic web pages, 
  ensuring accessibility and search engine optimization. Additionally, 
  my expertise in CSS allows me to style and design visually appealing interfaces, employing techniques such as flexbox and grid layouts. 
  With a keen eye for detail and a commitment to staying updated on the latest web development trends,
   I am capable of producing seamless and responsive user experiences across various platforms.
  </div>


<div class="container mt-3">
  <img src="/images/ps-logo.png" alt="ps-logo" class="logo"><br>
  <a href="#statement" class="btn btn-primary" data-bs-toggle="collapse">Problem solving skills</a>
  <div id="statement" class="collapse">
   I take pride in my strong problem-solving skills, which I have honed through various challenges and projects. I possess a systematic 
   and analytical approach to problem-solving, breaking down complex issues
    into manageable components to identify root causes. Whether faced with coding bugs, 
   algorithmic puzzles, or broader project-related obstacles, I demonstrate resilience
    and creativity in finding effective solutions. My ability to think critically 
   and logically, coupled with a persistent mindset, enables me to navigate through diverse 
   problems efficiently. Additionally, I am skilled in collaborating with team members to 
   brainstorm ideas and implement innovative solutions, fostering a collaborative and results-oriented
    environment. These problem-solving skills contribute not only to my success in 
   programming but also to my effectiveness in addressing challenges across different domains.
  </div>