<h1 id="project">MY PROJECTS</h1><br>
  <table><tr><td>
<div class="container mt-3">
  <div class="card">
    <img class="card-img-top" src="/images/project1-f.png" alt="Card image">
    <div class="card-body">
      <h2 class="card-title">Fashion Blog website</h2>
      <p class="card-text">Explore the latest trends and style inspirations at our fashion blog company website. Immerse yourself
         in a world of curated content, where we blend expertise
         and passion to guide you through the ever-evolving landscape of fashion. </p>
      <a href="#" class="btn btn-primary">Visit Site</a>
    </div>
  </div>
  </td>
<td>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">SWEET HOMES INTERIORS</h2>
      <p class="card-text">Explore the art of spaces with our interior designing company 
        website, where creativity meets functionality. Immerse yourself in a world of curated designs,
         transforming interiors into personalized expressions of style and comfort.</p>
      <a href="#" class="btn btn-primary">Visit Site</a>
    </div>
    <img class="card-img-bottom" src="/images/interior-design.png" alt="Card image">
  </div>
</td>
<td><div class="card">
    <img class="card-img-top" src="/images/shoes.png" alt="Card image">
    <div class="card-body">
      <h2 class="card-title">Fashion Footwear</h2>
      <p class="card-text">Step into style and comfort with our cutting-edge shoe collection. Explore our website for a curated 
        selection of trendy and quality footwear that seamlessly blends fashion and functionality. </p>
      <a href="#" class="btn btn-primary">Visit Site</a>
    </div>
  </div></td>
</div>
</tr>
</table>