{{! crud buttons }}
<div class="crud-buttons">
  <button class="crud-button" {{action "editClothing" this}}>Add Clothing Item</button>
  <button class="crud-button" {{action "editClothing" this}}>Edit Clothing Item</button>
  <button class="crud-button" {{action "deleteClothing" this}}>Delete Clothing
    Item</button>
</div>