
  <table><h1 id="project">COMEDY</h1><br>
    <tr><td>
  <div class="container mt-3">
  <div class="card">
    <img class="card-img-top" src="/images/jokebookcomedy.png" alt="Card image">
    <div class="card-body">
      <h2 class="card-title">The Joke Book</h2>
      <p class="card-text">$15.10 </p>
      <a href="#" class="btn btn-primary">Buy Book</a>
    </div>
  </div>
  </td>
  <td>
  <div class="card">
    <img class="card-img-top" src="/images/funnystoriescomedy.png" alt="Card image">
    <div class="card-body">
      <h2 class="card-title">Funny Stories</h2>
      <p class="card-text">$15.10 </p>
      <a href="#" class="btn btn-primary">Buy Book</a>
    </div>
  </div>
  </td>

<td>
  <div class="card">
    <img class="card-img-top" src="/images/archiecomedy.png" alt="Card image">
    <div class="card-body">
      <h2 class="card-title">The best of Archies</h2>
      <p class="card-text">$20.10 </p>
      <a href="#" class="btn btn-primary">Buy Book</a>
    </div>
  </div>
  </td>
  <td>
  <div class="card">
    <img class="card-img-top" src="/images/americancheesecomedy.png" alt="Card image">
    <div class="card-body">
      <h2 class="card-title">American Cheese</h2>
      <p class="card-text">$20.10 </p>
      <a href="#" class="btn btn-primary">Buy Book</a>
    </div>
  </div>
  </td>
</div>
</tr>
</table>
<table><h1 id="project">Romance</h1><br>
    <tr><td>
  <div class="container mt-3">
  <div class="card">
    <img class="card-img-top" src="/images/alwaysromance.png" alt="Card image">
    <div class="card-body">
      <h2 class="card-title">For Always</h2>
      <p class="card-text">$10.10 </p>
      <a href="#" class="btn btn-primary">Buy Book</a>
    </div>
  </div>
  </td>
  <td>
  <div class="card">
    <img class="card-img-top" src="/images/everafterromance.png" alt="Card image">
    <div class="card-body">
      <h2 class="card-title">Ever After</h2>
      <p class="card-text">$17.10 </p>
      <a href="#" class="btn btn-primary">Buy Book</a>
    </div>
  </div>
  </td>

<td>
  <div class="card">
    <img class="card-img-top" src="/images/lastdanceromance.png" alt="Card image">
    <div class="card-body">
      <h2 class="card-title">The Last Dance</h2>
      <p class="card-text">$20.10 </p>
      <a href="#" class="btn btn-primary">Buy Book</a>
    </div>
  </div>
  </td>
  <td>
  <div class="card">
    <img class="card-img-top" src="/images/loveromantic.png" alt="Card image">
    <div class="card-body">
      <h2 class="card-title">Love</h2>
      <p class="card-text">$13.10 </p>
      <a href="#" class="btn btn-primary">Buy Book</a>
    </div>
  </div>
  </td>
</div>
</tr>
</table>
<table><h1 id="project">HORROR</h1><br>
    <tr><td>
  <div class="container mt-3">
  <div class="card">
    <img class="card-img-top" src="/images/deadhorror.png" alt="Card image">
    <div class="card-body">
      <h2 class="card-title">Dead</h2>
      <p class="card-text">$11.10 </p>
      <a href="#" class="btn btn-primary">Buy Book</a>
    </div>
  </div>
  </td>
  <td>
  <div class="card">
    <img class="card-img-top" src="/images/demonhorror.png" alt="Card image">
    <div class="card-body">
      <h2 class="card-title">Demons</h2>
      <p class="card-text">$14.10 </p>
      <a href="#" class="btn btn-primary">Buy Book</a>
    </div>
  </div>
  </td>

<td>
  <div class="card">
    <img class="card-img-top" src="/images/gravestorieshorror.png" alt="Card image">
    <div class="card-body">
      <h2 class="card-title">Grave Stories</h2>
      <p class="card-text">$16.10 </p>
      <a href="#" class="btn btn-primary">Buy Book</a>
    </div>
  </div>
  </td>
  <td>
  <div class="card">
    <img class="card-img-top" src="/images/shadowshorror.png" alt="Card image">
    <div class="card-body">
      <h2 class="card-title">Shadows</h2>
      <p class="card-text">$18.10 </p>
      <a href="#" class="btn btn-primary">Buy Book</a>
    </div>
  </div>
  </td>
</div>
</tr>
</table>