<!--This part of code is for signin page  -->
<br><br>
<!-- I have created a form where one can sign-in -->
<form >
    <h1>
    Sign-in
</h1>
    <fieldset>
    <label for="username" class="col-2">
        Enter Username:
    </label><br>
    <input username="username"  required>
    </fieldset>
    <fieldset>
    <label for="password" class="col-2">
        Enter Password:
    </label><br>
    <input password="password"  required>
    </fieldset><br>
    <fieldset>
        <button type="submit">Login</button>
    </fieldset>
    <fieldset><br>
    <p>Create Account?<a href="signup">Sign-up</a></p>
    
    </fieldset>
</form><br><br>
